{% extends "auctions/layout.html" %} {% block body %} {% if user.is_authenticated %} {% if message %}
<ul class="messages">
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
</ul>
{% endif%} {% if listings %}
<ul class="list-unstyled"> {% for listing in listings%}
    <br>
    <li class="media">
        {% if listing.image %}
        <img class="mr-3" alt="{{listing.item_title}}" src="{{listing.image.url}}" data-atf="1"> {% endif %}
        <div class="media-body">
            <b><a class="mt-0 mb-1" href="{% url 'listingitem' listing.id %}">{{listing.item_title}}</a></b>
            <b><p>Price: $</b>{{listing.starting_bid}}</p>
        </div>
    </li>
    <hr> {% endfor %}{% endif%} {% endif %}</ul>{% endblock %}