{% extends "network/layout.html" %} {% block body %}
<p id="user-id">{{ userId }}</p>
<p id="logged-user">{{logged}}</p>
<div id="user-data" class="container-xl" style="margin-top: 5px; margin-bottom: 5px; padding: 25px;  border-radius: 5px; border-color: lightgray; border-style: solid; border-width: 0.5px;">
    <h1 id="username">{{ username }}</h1>
    <p>Following: {{ following }} Followers: {{ followers }}
    </p>
    {% if user.is_authenticated and buttons == True%}
    <br>
    <button id="follow" class="btn btn-outline-primary">Follow</button>
    <button id="unfollow" class="btn btn-outline-secondary">Unfollow</button> {% endif %}
</div>


<div id="user-posts"></div>
<nav aria-label="Page navigation example">
    <ul id="nav-pages" class="pagination justify-content-center">

    </ul>
</nav>

<script>
    const userId = document.querySelector("#user-id").textContent
    const logged = document.querySelector("#logged-user").textContent
    const followBtn = document.querySelector("#follow")
    const unfollowBtn = document.querySelector("#unfollow")
        // console.log(followBtn)
        // console.log(unfollowBtn)
    let userPosts = document.querySelector("#user-posts")
    let navPages = document.querySelector("#nav-pages")
    console.log(navPages)
    let page = "profile"

    document.querySelector("#user-id").style.display = 'none'
    document.querySelector("#logged-user").style.display = 'none'
    if (followBtn) {
        followBtn.addEventListener("click", function() {
            console.log("follow" + userId)

            // add follower
            fetch(`/profile/${userId}`, {
                method: 'PUT',
                body: JSON.stringify({
                    followers: logged
                })
            })
        })
    }
    if (unfollowBtn) {
        unfollowBtn.addEventListener("click", function() {
            console.log("unfollow" + userId)
                // add follower
            fetch(`/profile/${userId}`, {
                method: 'PUT',
                body: JSON.stringify({
                    followers: -logged
                })
            })
        })
    }

    fetch(`/posts/${page}/${userId}`)
        .then(response => response.json())
        .then(posts => {
            // Print posts
            console.log(posts);
            let nemberOfPosts = parseInt(posts.length)
            let numberOfPages = Math.ceil(nemberOfPosts / 10)
            console.log(nemberOfPosts)
            console.log(numberOfPages)

            if (nemberOfPosts > 10) {
                for (let i = 0; i < 10; i++) {
                    let post = posts[i]
                        //console.log(post.user)

                    userPosts.innerHTML += `<div style="margin-top: 5px; margin-bottom: 5px; padding: 25px; border-radius: 5px; border-color: lightgray; border-style: solid; border-width: 0.5px; " class="container-xl">
                        <h4><a href="profile/${post.user}">${post.poster}</a></h4>
                        {% if user.is_authenticated and buttons == False%}
                        <button class="btn btn-primary btn-sm" onclick="edit(${post.id})">Edit</button>
                        {% endif %}
                        <p id="content${post.id}">${post.content}</p>
                        <p class="p-gray">${post.timestamp}</p>
                        {% if user.is_authenticated and buttons == True%}
                        <p class="p-gray"><a id="heart${post.id}" style="color: red;" onclick="like(${post.id})">&#10084</a><small id="likesnumber${post.id}"> ${post.likes}</small></p>
                        {% else %}
                        <p class="p-gray"> &#10084 <small>${post.likes}</small></p>
                        {% endif %}
                        <p class="p-gray">comment</p>
                        </div>`

                }
            } else {
                for (let i = 0; i < nemberOfPosts; i++) {
                    let post = posts[i]

                    userPosts.innerHTML += `<div style="margin-top: 5px; margin-bottom: 5px; padding: 25px; border-radius: 5px; border-color: lightgray; border-style: solid; border-width: 0.5px; " class="container-xl">
                        <h4><a href="profile/${post.user}">${post.poster}</a></h4>
                        {% if user.is_authenticated and buttons == False%}
                        <button class="btn btn-primary btn-sm" onclick="edit(${post.id})">Edit</button>
                        {% endif %}
                        <p id="content${post.id}">${post.content}</p>
                        <p class="p-gray">${post.timestamp}</p>
                        {% if user.is_authenticated and buttons == True%}
                        <p class="p-gray"><a id="heart${post.id}" style="color: red;" onclick="like(${post.id})">&#10084</a><small id="likesnumber${post.id}"> ${post.likes}</small></p>
                        {% else %}
                        <p class="p-gray"> &#10084 <small>${post.likes}</small></p>
                        {% endif %}
                        <p class="p-gray">comment</p>
                        </div>`

                }

            }

            navPages.innerHTML += `<li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>`
            for (let i = 1; i <= numberOfPages; i++) {
                navPages.innerHTML += `
                    <li class="page-item"><a class="page-link" onclick="showNext10(${i})">${i}</a></li>                            
                    `
            }
            navPages.innerHTML += `<li class="page-item">
                <a class="page-link" onclick="showNext10(2)">Next</a></li>`
        });

    function showNext10(x) {
        console.log(x)
        let numberOfPages = 0
        let y = 0
        let z = 10
        if (x === 1) {
            y = 0
            z = x * 10

        } else {
            y = (x * 10) - 10
            z = y + 10

        }
        userPosts.innerHTML = ""
        fetch(`/posts/${page}/${userId}`)
            .then(response => response.json())
            .then(posts => {
                // Print posts
                console.log(posts);
                let nemberOfPosts = parseInt(posts.length)
                let numberOfPages = Math.ceil(nemberOfPosts / 10)

                if (z < nemberOfPosts) {
                    for (let i = y; i < z; i++) {
                        let post = posts[i]

                        userPosts.innerHTML += `<div style="margin-top: 5px; margin-bottom: 5px; padding: 25px; border-radius: 5px; border-color: lightgray; border-style: solid; border-width: 0.5px; " class="container-xl">
                        <h4><a href="profile/${post.user}">${post.poster}</a></h4>
                        {% if user.is_authenticated and buttons == False%}
                        <button class="btn btn-primary btn-sm" onclick="edit(${post.id})">Edit</button>
                        {% endif %}
                        <p id="content${post.id}">${post.content}</p>
                        <p class="p-gray">${post.timestamp}</p>
                        {% if user.is_authenticated and buttons == True%}
                        <p class="p-gray"><a id="heart${post.id}" style="color: red;" onclick="like(${post.id})">&#10084</a><small id="likesnumber${post.id}"> ${post.likes}</small></p>
                        {% else %}
                        <p class="p-gray"> &#10084 <small>${post.likes}</small></p>
                        {% endif %}
                        <p class="p-gray">comment</p>
                        </div>`
                    }
                } else {

                    for (let i = y; i < nemberOfPosts; i++) {
                        let post = posts[i]


                        userPosts.innerHTML += `<div style="margin-top: 5px; margin-bottom: 5px; padding: 25px; border-radius: 5px; border-color: lightgray; border-style: solid; border-width: 0.5px; " class="container-xl">
                            <h4><a href="profile/${post.user}">${post.poster}</a></h4>
                            {% if user.is_authenticated and buttons == False%}
                            <button class="btn btn-primary btn-sm" onclick="edit(${post.id})">Edit</button>
                            {% endif %}
                            <p id="content${post.id}">${post.content}</p>
                            <p class="p-gray">${post.timestamp}</p>
                            {% if user.is_authenticated and buttons == True%}
                            <p class="p-gray"><a id="heart${post.id}" style="color: red;" onclick="like(${post.id})">&#10084</a><small id="likesnumber${post.id}"> ${post.likes}</small></p>
                            {% else %}
                            <p class="p-gray"> &#10084 <small>${post.likes}</small></p>
                            {% endif %}
                            <p class="p-gray">comment</p>
                            </div>`
                    }

                }
                if (x > 1) {
                    navPages.innerHTML = `<li class="page-item">
                        <a class="page-link" onclick="showNext10(${x-1})">Previous</a></li>`
                    console.log("we have " + numberOfPages + "pages")
                    for (let i = 1; i <= numberOfPages; i++) {
                        console.log("this is" + i + "i")

                        navPages.innerHTML += `
                                <li class="page-item"><a class="page-link" onclick="showNext10(${i})">${i}</a></li>`
                    }
                    if (x == numberOfPages) {
                        navPages.innerHTML += `<li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a></li>`
                    } else {
                        navPages.innerHTML += `<li class="page-item">
                    <a class="page-link" onclick="showNext10(${x+1})">Next</a></li>`
                    }

                } else {
                    navPages.innerHTML = `<li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>`
                    for (let i = 1; i <= numberOfPages; i++) {
                        navPages.innerHTML += `
                            <li class="page-item"><a class="page-link" onclick="showNext10(${i})">${i}</a></li>                            
                            `
                    }
                    navPages.innerHTML += `<li class="page-item">
                        <a class="page-link" onclick="showNext10(2)">Next</a></li>`
                }
            })

    }

    function edit(postId) {
        // console.log("edit post" + " " + postId)
        const contentText = document.querySelector(`#content${postId}`).textContent
        let contentParagraph = document.querySelector(`#content${postId}`)
            // console.log(contentParagraph)
            // console.log(contentText)

        contentParagraph.innerHTML = `<br> <form id="edit-form">
            <textarea class="form-control" id="edit-body">${contentText}</textarea>
            <input type="submit" id="update" class="btn btn-primary"/>
        </form>
        <br>`

        document.querySelector('#edit-form').onsubmit = function() {
            const body = document.querySelector('#edit-body').value
            console.log(body)
            fetch(`/posts/${postId}`, {
                method: 'PUT',
                body: JSON.stringify({
                    content: body
                })
            })
        }

    }

    function like(id) {
        let heart = document.querySelector(`#heart${id}`)
        let number = parseInt(document.querySelector(`#likesnumber${id}`).textContent)
        if (heart.style.color == "red") {
            console.log(id)
            fetch(`/posts/${id}`, {
                method: 'PUT',
                body: JSON.stringify({
                    likes: 1
                })
            })
            heart.style.color = "black";
            number += 1
            document.querySelector(`#likesnumber${id}`).textContent = " " + number

        } else {

            console.log(id)
            fetch(`/posts/${id}`, {
                method: 'PUT',
                body: JSON.stringify({
                    likes: -1
                })
            })
            heart.style.color = "red";
            number -= 1
            document.querySelector(`#likesnumber${id}`).textContent = " " + number

        }

    }
</script> {% endblock %}