{% extends "rdmStore/layout.html" %} {% block body %}

<button id="sidebar-btn" class= "btn btn-outline-dark" style="color: black; border-color: black" onmouseover="this.style.background= 'black', this.style.color= 'white'" onmouseout="this.style.background='white', this.style.color='black'"  href="#">Filtrar</button>
<br />

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="sidebar-div" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-body">
        <nav class="sidebar-nav">
            <div class="col-1">

                    <ul style="list-style-type: none; padding: 0;margin: 0;">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tamanhos</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!-- iterate through the categories and link them -->
                                <ul class="nav-item">

                                    <li style="list-style-type: none;"><a class="dropdown-item" href="#"></a></li>

                                </ul>
                            </div>

                        </li>
                    </ul>
                
            </div>
        </nav>
        <nav class="sidebar-nav">
            <div class="col-1">
                
                    <ul style="list-style-type: none; padding: 0;margin: 0;">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cores</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!-- iterate through the categories and link them -->
                                <ul class="nav-item">

                                    <li style="list-style-type: none;"><a class="dropdown-item" href="#"></a></li>

                                </ul>
                            </div>

                        </li>
                    </ul>
                
            </div>
        </nav>
    </div>
    <nav class="sidebar-nav">
        <div class="col-1">
            
                <ul style="list-style-type: none; padding: 0;margin: 0;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tipos</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- iterate through the categories and link them -->
                            <ul class="nav-item">

                                <li style="list-style-type: none;"><a class="dropdown-item" href="#"></a></li>

                            </ul>
                        </div>

                    </li>
                </ul>
            
        </div>
    </nav>
    <nav class="sidebar-nav">
        <div class="col-1">
            
                <ul style="list-style-type: none; padding: 0;margin: 0;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- iterate through the categories and link them -->
                            <ul class="nav-item">

                                <li style="list-style-type: none;"><a class="dropdown-item" href="#"></a></li>

                            </ul>
                        </div>

                    </li>
                </ul>
            
        </div>
    </nav>
    <nav class="sidebar-nav">
        <div class="col-1">
            
                <ul style="list-style-type: none; padding: 0;margin: 0;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">$</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- iterate through the categories and link them -->
                            <ul class="nav-item">

                                <li style="list-style-type: none;"><a class="dropdown-item" href="#"></a></li>

                            </ul>
                        </div>

                    </li>
                </ul>
            
        </div>
    </nav>
    
</div>

<br> {% if items_categoria%}
<div id="destaques">
    <h2>{{categoria_nome}}</h2>
    <div class="row">
        {% for item_categoria in items_categoria%}

        <div class="col-sm-2">
            <div class="card border-light mb-3">
                {% if item_categoria.imagem %}
                <img class="card-img-top rounded-circle mt-3 mx-auto img-thumbnail" src="{{item_categoria.imagem.url}}" alt="{{item_categoria.nome}}" style="border-radius: 100%;"> {% endif %}
                <div style="text-align: center;" class="card-body">
                    <h6 class="card-title">{{item_categoria.nome}}</h6>
                    <p class="card-text"> <b>R$ {{item_categoria.preco}}</b></p>
                    <button style="padding: 5%;font: bold 15px arial, sans-serif; background: #F29A2E; color: white; border: 1px solid #F29A2E; border-radius: 5%;" onmouseover="this.style.background='#F28729'" onmouseout="this.style.background='#F29A2E'" href="#">COMPRAR</button>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</div>
{% endif %} {% endblock %}